* {
  box-sizing: border-box;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: default;
  outline: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
*, ::after, ::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    z-index: 12;
    background: transparent;
    overflow: visible;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-corner {
    background: rgb(67, 73, 83);
}
::-webkit-scrollbar-thumb {
    width: 4px;
    min-height: 32px;
    z-index: 12;
    background-image: none;
    background-color: rgba(67, 73, 83,.6);
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 10px;
    transition: background-color 0.32s ease-in-out 0s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(67, 73, 83,.9);
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-button {
    display: none;
}

html {
}

html, body {
}

body {
    background: rgb(42,52,65);
    color: #ffffff;
    font-family: "Ubuntu", "Roboto", Helvetica, sans-serif;
    font-weight: 300;
    overflow: auto;
    overflow: overlay;
}

nav {
    display: flex;
    justify-content: space-between;
    background: rgb(68,84,105);
    border-bottom: 1px solid rgb(54,67,84);
    color: #ffffff;
    font-weight: 400;
    text-transform:uppercase;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

nav>* {
    margin-left: 12px;
    margin-right: 12px;
    
}

nav>.logo,
nav>.user {
    padding: 6px;
    font-weight: 600;
}

nav>.user {
    text-transform: initial;
    margin-left: auto;
    font-weight: 200;
    padding-right:0;
}

nav>ul {
    list-style: none;
    display: flex;
}

nav>ul>li {
    padding: 6px;
    cursor: pointer;
    position: relative;
    transition:all .2s ease;
}

nav>ul>li:before {
    transition:all .4s ease;
    content: '';
    height: 2px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    position: absolute;
    color: transparent;
    border-radius: 4px;
}

nav>ul>li:hover {
    transform: translateY(2px);
}

nav>ul>li:active {
    transform: translateY(-1px);
}

nav>ul>li:hover:before {
    background: #ffffff99;
}

nav>ul>li:active:before {
    background: #ffffff32;
}

footer {
	text-align: center;
}

a {
	text-decoration: underline;
    transition:all .2s ease;
    cursor: pointer;
}

a:hover {
	color: #00adff;
}

a:active {
	color: #0072ff;
}

.content {
    width: 95vw;
    margin: 0 auto;
    margin-top: 16px;
    
}

.treeViewWrapper{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.treeView,
.treeItemContent,
.changesToApply{
    width: 45%;
    margin-bottom: 16px;
    min-width: 256px;
    border: 1px dashed #ffffff16;
    border-radius: 8px;
    padding: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.changesToApply{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
}

.treeItemContent {
    display: flex;
    flex-direction: column;
}

.treeItemContent>.title{
    font-weight: 400;
    margin-bottom: 4px;
}

ul.maketree, ul.maketree ul, ul.maketree li {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  margin-top: 6px;
}
ul.maketree ul { padding-left: 0.3em; }
ul.maketree li {
  padding-left: 13px;
}
ul.maketree:not(.show){
    display: none;
}

ul.maketree li>span {
    cursor: pointer;
}

ul.maketree li>span:hover {
    text-decoration: underline #ffffff64;
    
}

ul.maketree li>span:active {
    text-decoration: underline #ffffff;
}

.expandBtn,
.editBtn,
.applyBtn,
.cancelBtn,
button{
    display: inline-block;
    width: 22px;
    height: 20px;
    text-align: center;
    margin-left: 6px;
    border: 1px dashed #ffffff32;
    border-radius: 6px;
    cursor: pointer;
    background: transparent;
}

.editBtn,
.applyBtn,
.cancelBtn,
button{
    display: inline-block;
    width: initial;
    height: initial;
    padding: 4px;
}
.applyBtn{
    padding: 4px 12px;
    font-size: 20px;
}

.expandBtn:hover,
.editBtn:hover,
.applyBtn:hover,
.cancelBtn:hover,
button:hover {
    border-color: #ffffff64;
    border-width: 1px;
    border-style: dashed;
    background: #ffffff08;
}

.expandBtn:active,
.editBtn:active,
.applyBtn:active,
.cancelBtn:active,
button:active {
    border-color: #ffffff64;
    border-width: 1px;
    border-style: solid;
    background: #ffffff16;
}

.controlsGroup {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    display: none;
    margin-top: auto;
}

@media (max-width: 900px) {

    .controlsGroup {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .controlsGroup>.editBtn {
        margin-bottom: 6px;
    }

}

@media (min-width: 950px) and (orientation:landscape) {

    .controlsGroup>.editBtn {
        border-left-color: transparent;
        border-right-color: transparent;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        padding-left: 6px;
        padding-right: 6px;
        border-right-width: 1px;
    }

    .controlsGroup>.editBtn:hover {
        border-style: dashed;
        background: #ffffff08;
    border-color: #ffffff64;
    }

    .controlsGroup>.editBtn:active {
        border-style: solid;
        border-color: #ffffff64;
        background: #ffffff16;
    }
    
    .controlsGroup>.editBtn:first-child {
        margin-left: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-left-color: #ffffff42;
    }
    
    .controlsGroup>.editBtn:last-child {
        margin-right: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-right-color: #ffffff42;
    }

}

.applyTop,
.applyBottom {
    display: flex;
    justify-content: center;
}

.applyTop {
    font-weight: 400;
    margin-bottom: 12px;
    font-size: 18px;
    
}
.applyBottom {
    margin-top: 12px;
    
}
.applyBody {
    
    
}

.modalWindow {
  position: fixed;
  background: rgba(0, 0, 0, 0.16);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.modalWindow.active {
  pointer-events: unset;
  z-index: 999;
  visibility: visible;
  opacity: 1;
}

.modalWindow .modalWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: auto;
    height: auto;
    min-width: 350px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 40%);
}

.modalWindow .modalHeader {
  display: inline-flex;
  justify-content: space-between;
  background: rgb(68,84,105);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modalWindow .modalBody {
  display: flex;
  flex-direction: column;
  /* margin: 10% auto; */
  height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: .3s;
  overflow: auto;
  overflow: overlay;
  background-color: rgb(42,52,65);
}

.modalWindow .modalBody span {
  padding: 12px;
}

.modalWindow .modalFooter {
  background: rgb(68,84,105);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close{
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover{
  transform: scale(1.3);
}

.close:active{
  transform: scale(0.8);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input[type="text"],
input[type="password"],
input[type="number"]  {
    padding: 4px;
    margin: 6px;
    outline: none;
    border-radius: 4px;
    border: 1px solid white;
    border: 1px dashed #ffffff32;
    background-color: #ffffff16;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover  {
    border: 1px solid #ffffff42;
}

input[type="text"]:active,
input[type="password"]:active,
input[type="number"]:active  {
    border: 1px solid #ffffff42;
    background-color: #ffffff32;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus  {
    border: 1px solid #ffffff64;
}

.authError{
  color: red;
  font-weight: 500;
  text-align: center;
  text-transform:uppercase;
  margin: 4px;
  padding: 2px;
}

.editText {
  display: none;
}

small{
  color: gray;
  font-weight: 200;
  font-size: 10px;
}